<html>
<head>


    <title>FoOdie </title>
    <link href="bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    </head>

<body>
 



    {{{body}}}

</body>
</html>