
<center>  
    
    
    
<img class="img-circle" src="Logo2.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
    <br>
    <br> 

<h1> Fo0die <h3> Was created by a self-proclaimed food <br> 
        blooger connoisseur. Foodie gives people <br> 
        a quick and easy way to find their favorite <br>
        food at a location near them. </h3>

<br> 
<br> 

        
        
        <h1>Fo0die users can.... </h1><h3>
        Search <br>
        Upload <br> 
        Post <br>
        & Rate <br> 
        
</h3>

</center> 