

   <div class="navbar navbar-default navbar-fixed-top custom" role="navigation">
      <div class="container custom">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Fo0die</a>
        </div>
        <div class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
            <li class="custom"><a href="#">Home</a></li>
            <li><a class="custom" href="#about">Login</a></li>
            <li class="custom"><a href="#contact">Sign Up</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="Mac.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Theme of The Week </h2>
          <p>Mac N' Cheese!</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="POW.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Photo of the Week</h2>
          <p> @AlexisChavez from Tallahassee, Florida</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="Logo2.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Search</h2>
          <p>Find exactly what your tastebuds are looking for</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>
