/*
    Document   : style．css
    Created on : 2014-09-17 06:31 PM
    Author     : anc11e
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}

body {
  padding-top:100px;
}

.custom
{ 
    background-color:#99CCFF;
 }





